<main>
    <article>

        <!-- 
        - #SERVICE
      -->

        <section class="section service has-bg-image" aria-labelledby="service-label"
            style="background-image: url('assets/images/service-bg.png')">
            <div class="container">

                <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

                <ul class="service-list">

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                            <div class="card-media">
                                <ion-icon name="code-working" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Web Design</h3>

                                <p class="body-sm">
                                    Ready to elevate your online presence and make a lasting impression on your
                                    audience? Let us help you create a visually stunning, user-friendly, and
                                    high-performing website that sets you apart from the competition.
                                    Contact us today to discuss your web design project and take the first step towards
                                    a better online presence.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                            <div class="card-media">
                                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Software Development</h3>

                                <p class="body-sm">
                                    Our approach to software development is rooted in collaboration and
                                    innovation. We work closely with our clients to gain a deep understanding of their
                                    challenges, objectives, and aspirations. This collaborative partnership allows us to
                                    design, develop, and deploy software solutions that not only meet but exceed
                                    expectations.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                            <div class="card-media">
                                <ion-icon name="phone-portrait-outline" aria-hidden="false"></ion-icon>
                                <!-- <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon> -->
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Mobile App Development</h3>

                                <p class="body-sm">
                                    We don't believe in one-size-fits-all solutions. Whether you need an iOS app, an
                                    Android app, or a cross-platform solution, we tailor our development approach to
                                    match your goals and budget. Our team has expertise in native app development, as
                                    well as cross-platform frameworks like React Native and Flutter, ensuring that your
                                    app is accessible to a wide range of users.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                            <div class="card-media">
                                <ion-icon name="server" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Database Design and Management</h3>

                                <p class="body-sm">
                                    Our approach to database design and management is rooted in the principles of
                                    efficiency, scalability, and security. We understand that each organization has
                                    unique data needs and objectives, and we work closely with our clients to design,
                                    optimize, and manage databases that align perfectly with their goals.
                                    Unlock the power of your data with our database design and management expertise.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                            <div class="card-media">
                                <ion-icon name="analytics" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Machine Learning and Data Science</h3>

                                <p class="body-sm">
                                    Predictive analytics is a game-changer. We build machine learning models that can
                                    forecast future trends, detect anomalies, and provide recommendations, allowing you
                                    to proactively respond to changing market conditions and customer behaviors.
                                    Our machine learning expertise covers a wide range of applications, from natural
                                    language processing and computer vision to recommendation systems and predictive
                                    maintenance. We leverage state-of-the-art algorithms and tools to create intelligent
                                    systems that continuously learn and adapt.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="card-container">
                        <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                            <div class="card-media">
                                <ion-icon name="chatbubbles" aria-hidden="true"></ion-icon>
                            </div>

                            <div>
                                <h3 class="card-title title-sm">Consulting and Training</h3>

                                <p class="body-sm">
                                    Unlock your full potential and navigate the complexities of the modern business
                                    world with our consulting and training services. Whether you're seeking expert
                                    advice, personalized training, or a combination of both, we're here to help you
                                    achieve your objectives. Contact us today to discuss your consulting and training
                                    needs and embark on a journey toward growth and excellence.
                                    we offer expert consulting and training services designed to equip businesses and
                                    individuals with the knowledge, strategies, and tools they need to thrive.
                                </p>
                            </div>

                        </div>
                    </li>

                </ul>

            </div>
        </section>

    </article>
</main>