<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle"> I Present to you Devis Brian</p>

            <h1 class="headline-lg">I'm a Software Developer</h1>

            <p class="hero-text body-md">
              Based in Nairobi, Kenya.
            </p>

            <a href="#" class="btn btn-primary">Let's Start</a>

          </div>

          <figure class="hero-banner">
            <img src="assets/images/hero-banner.png" width="680" height="645"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CLIENT
      -->

      <section class="client" aria-label="Trusted client">
        <div class="container">

          <ul class="slider">

            <li class="slider-item">
              <img src="assets/images/client-1.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-2.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-3.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-4.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-5.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me">
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/about-banner.png" width="580" height="554" loading="lazy"
              alt=" " class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="title-lg">I'm a Front-end Developer with over 3 years of experience.</h2>

            <p class="body-md section-text">
              I'm from Nairobi, Kenya. I code and
              create web Applications and Sophisticated Software Systems for amazing clients around the world. I like to work with new people and share diverse Ideas. 
              
            </p>

            <ul class="about-list">

              <li>
                <p class="list-text">
                  <strong class="strong title-md">285+</strong> Projet Completed
                </p>
              </li>

              <li>
                <p class="list-text">
                  <strong class="strong title-md">190+</strong> Happy Clients
                </p>
              </li>

            </ul>

            <div class="wrapper">
              <a routerLink="/contact" class="btn btn-primary">Contact Me</a>

              <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-html5"></ion-icon>
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                  <div class="card-media">
                    <ion-icon name="logo-react"></ion-icon>
                  </div>

                  <h2 class="card-title">React</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-apple"></ion-icon>
                  </div>

                  <h2 class="card-title">Apple</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="logo-android"></ion-icon>
                  </div>

                  <h2 class="card-title">App Dev</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="assets/images/skill-banner.png" width="581" height="657" loading="lazy"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">
          <h2 class="title-lg">Interested working with me?</h2>

          <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
        </div>
      </section>





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi" aria-labelledby="testi-label">
        <div class="container">

          <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

          <ul class="slider">

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-1.jpg" width="100" height="100" loading="lazy" alt="James Mwangi"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Setting up the pace for tech industrial revoulution needs a deeper vision into the future. 
                    Every aspect of our lives today is being impacted by technology and adjusting to this means understanding
                    the Tech world Deeply.
                  </blockquote>

                  <p class="client-name">James Mwangi</p>

                  <p class="client-title">CEO at Equity Bank</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-2.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    James Mworia Mwirigi is a Kenyan lawyer, accountant, and business executive. 
                    He is the managing director and chief executive officer of Centum Investment Company, the largest publicly traded private capital firm in Eastern Africa. 
                    
                  </blockquote>

                  <p class="client-name">James Mworia</p>

                  <p class="client-title">CEO at Centum Investments</p>

                </div>

              </div>
            </li>
          </ul>

        </div>
      </section>

    </article>
  </main>
